[submodule "lang_shift"]
	path = lang_shift
	url = https://github.com/klavarog/lang_shift
[submodule "arbitrary_keycode"]
	path = arbitrary_keycode
	url = https://github.com/klavarog/arbitrary_keycode
[submodule "combo"]
	path = combo
	url = https://github.com/klavarog/combo
